<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <style type="text/css">
    {% for torNode in nodes: %}
        #opened-{{ torNode.host }} {
                display: none;
        }
        #closed-{{ torNode.host }} {
                display: none;
        }
    {%endfor%}
    </style>


    <script type="text/javascript">
  		function expandir(zap) {
			if (document.getElementById) {
				var abra = document.getElementById(zap).style;
				if (abra.display == "block") {
					abra.display = "none";
					} else {
					abra.display = "block"
					}
				return false
				} else {
					return true
				}
			}
  	</script>
    <title>{{ title }}</title>
    {% endblock %}
</head>
<body>
    <center>
        <div class="updatable">{% block content %}{% endblock %}</div>
    </center>
</body>