<?xml version="1.0" encoding="utf-8" ?>
{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <title>{{ title }}</title>
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <center>
        <h1><p class="important"> ==== Shodan Results ==== </p></h1>
        <br />
        <h2><p class="important"> {{title}} </p></h2>
        <h2><p class="important"> ==== Hosts ==== </p></h2>
        <br />
    </center>

    {% for shodanHost in ShodanHosts:%}
            <i class="fa fa-mobile fa-fw"></i><b>Host: </b> {{ shodanHost.host }}
            <br />
    {% endfor %}
    <br />
    <h2><p class="important"> ==== Key Info ==== </p></h2>
    <br />
    <table>
        {% for key in APIInfo.keys():%}
            <tr>
                <td>
                    <b>{{ key }}</b>
                </td>
                <td>
                    <b>{{ APIInfo[key] }}</b>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br />
    <h2><p class="important"> ==== Shodan Information by Host.==== </p></h2>
    <br />
            <table class="table">
                {% for host in ShodanHosts: %}
                    {% for key in host.results.keys(): %}
                        {% if key != 'data' %}
                            {% if key != 'html' %}
                                        <tr>
                                            <td>
                                                <b>{{ key }}</b>
                                            </td>
                                            <td>
                                                <b>{{ host.results[key] }}</b>
                                            </td>
                                        </tr>
                            {% endif %}
                        {%endif%}
                    {% endfor %}
                    <tr>
                        <td><hr></td>
                        <td><hr></td>
                    </tr>

                    <tr>
                        <td><br /></td>
                        <td><br /></td>
                    </tr>
                {% endfor %}
            </table>
    <br />
{% endblock %}