{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <title>{{ title }}</title>
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <center>
    <h1><p class="important"> ==== Shodan Results ==== </p></h1>
    <h2><p class="important"> ==== API Details ==== </p></h2>
    <table class="table">
    {% for apiDetail in APIInfo.keys():%}
        <tr>
            <td>
                <b>{{apiDetail}}</b>
			</td>
			<td>
                <b>{{APIInfo[apiDetail]}}</b>
			</td>
		</tr>
    {% endfor %}
    </table>
    <br />
    </center>

    <h2><p class="important"> ==== Hosts ==== </p></h2>
    <center>
            <i class="fa fa-mobile fa-fw"></i><b>Host: </b> {{ shodanHostName }}
            <br />
            <br />
        {% if shodanHost['data'] %}
            <i class="fa fa-mobile fa-fw"></i><b>Headers:</b>{{ shodanHost['data'] }}
            <br />
            <br />
            <br />
        {%endif%}
    </center>
    <center>
         <table class="table">
            {% for key in shodanHost.keys(): %}
                {% if key != 'data' %}
                    {% if key != 'html' %}
                                <tr>
                                    <td>
                                        <b>{{key}}</b>
                                    </td>
                                    <td>
                                        <b>{{shodanHost[key]}}</b>
                                    </td>
                                </tr>
                    {% endif %}
                {%endif%}
            {% endfor %}
         </table>
    </center>
{% endblock %}