{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <title>{{ title }}</title>
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <center>
    <h1><p class="important"> ==== Shodan Results ==== </p></h1>
    <div class="col-lg-8">
        <div class="panel-heading">
        <i class="fa fa-mobile fa-fw"></i><b>Host: </b> {{ shodanHostName }}
        </div>
    {% if shodanHost['data'] %}
        <div class="row">
                <div class="panel-heading">
                    <i class="fa fa-mobile fa-fw"></i><b>Headers:</b>
                </div>
                <div class="form-group">
                    <p class="control-label">{{ shodanHost['data'] }} </p>
                </div>
        </div>
    {%endif%}
    <div class="panel panel-default">
        <table class="table">
    {% for key in shodanHost.keys(): %}
        {% if key != 'data' %}
            {% if key != 'html' %}
						<tr>
							<td>
                                <b>{{key}}</b>
							</td>
							<td>
                                <b>{{shodanHost[key]}}</b>
							</td>
						</tr>
            {% endif %}
        {%endif%}
	{% endfor %}
        </table>
    </div>
    </div>
    {{Headers}}
    {{APIInfo}}


    </center>
{% endblock %}